<header id="main-header">

  <div class="main-logo-container">
    <a class="header-evrimagaci-logo" [routerLink]="['/home']">
      <img class="evrimagaci-logo" src="./../../assets/image/logo-sm.png" alt="Evrim Ağacı Logo">
      <p class="header-main-title">Evrim Ağacı</p>
    </a>
    <div class="header-vertical-line"></div>
    <p class="header-logo-slogan">Bu yaşam görüşünde ihtişam var</p>
  </div>

  <div class="header-actions-container">
    <div class="header-actions">
        <a [routerLink]="['/home']">ANASAYFA</a>
        <a [routerLink]="['/contact']">İLETİŞİM</a>
        <a href="#">GİRİŞ</a>

        <a [routerLink]="['/article']">ARTICLE</a>

        <i class="fa fa-search"></i>
    </div>
  </div>

</header>