<footer>
  <div class="container">
    <div class="footer-top">
      <div class="footer-top-menu">
        <a href="index.html">ANASAYFA</a>
        <a href="index.html">GİRİŞ</a>
        <a href="index.html">HAKKINDA</a>
        <a href="index.html">İLETİŞİM</a>
      </div>
      <div class="footer-top-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
    <hr>
    <div class="footer-bottom">
      <p><a href="https://evrimagaci.org">Evrim Ağacı</a>, Tree of Evolution LLC'nin tescilli markasıdır. © 2010-2018. <a href="https://evrimagaci.org/page/tr/gizlilik-politikasi">Gizlilik Politikası</a>. Tüm içeriklerimiz, <a href="https://evrimagaci.org/page/tr/icerik-kullanim-izinleri">İçerik Kullanım İzinleri</a>'ne ve/veya <a href="https://evrimagaci.org/page/tr/adil-kullanim-doktrini">Adil Kullanım Doktrini</a>'ne uyulduğu müddetçe kullanıma, dağıtıma ve paylaşıma açıktır. Bu siteyi kullanan kişilerin sitedeki bütün işlemleri <a href="https://evrimagaci.org/page/tr/kullanici-sozlesmesi">Kullanıcı Sözleşmesi</a>'nin şartlarına tabidir.</p>
    </div>
  </div>
</footer>