<a href="#" [routerLink]="['/article']">
  <div class="article-main">
    <div class="article-main-image-container">
      <img src="./../../assets/image/article-image.jpg" alt="" class="article-main-image">
    </div>
    <div class="article-main-info-container">
      <a class="article-tag" href="#">EVRİMSEL BİYOLOJİ</a>
      <div class="article-info-vertical-line"></div>
      <p class="article-info-date">02/14/2018</p>
    </div>
    <div class="article-main-title-container">
      <h1 class="article-main-title">Evrimi başa alırsanız ne olur?</h1>
    </div>
  </div>
</a>

<a href="#">
  <div class="article-main">
    <div class="article-main-image-container">
      <img src="./../../assets/image/article-image2.jpg" alt="" class="article-main-image">
    </div>
    <div class="article-main-info-container">
      <a class="article-tag" href="#">EVRİMSEL BİYOLOJİ</a>
      <div class="article-info-vertical-line"></div>
      <p class="article-info-date">02/14/2018</p>
    </div>
    <div class="article-main-title-container">
      <h1 class="article-main-title">Kazık Dişli Erken Memeli Fosil Buluntusu, Memelilerin Erken Evrimini 60 Milyon Yıl Geriye Kaydırdı</h1>
    </div>
  </div>
</a>

