<div id="main-navbar">

  <nav id="navigation" class="site-navigation" role="navigation">
    <ul class="menu">
      <li class="menu-item menu-item-icerik"><a href="#">İÇERİK</a>
        <ul class="dropdown">
          <li class="menu-item sub-menu"><a href="#">MAKALE KATEGORİLERİ</a></li>
          <li class="menu-item sub-menu"><a href="#">FOTOĞRAFLAR</a></li>
          <li class="menu-item sub-menu"><a href="#">VİDEOLAR</a></li>
          <li class="menu-item sub-menu"><a href="#">SORU & CEVAPLAR</a></li>
          <li class="menu-item sub-menu"><a href="#">BİLİM SÖZLÜĞÜ</a></li>
          <li class="menu-item sub-menu"><a href="#">BİLİM AĞACI E-DERGİ</a></li>
        </ul>
      </li>
      <li class="menu-item menu-item-evrim"><a href="#">EVRİM</a>
        <ul class="dropdown">
          <li class="menu-item sub-menu"><a href="#">EVRİM KURAMI: GENEL BİLGİLER</a></li>
          <li class="menu-item sub-menu"><a href="#">EVRİMSEL BİYOLOJİ</a></li>
          <li class="menu-item sub-menu"><a href="#">EVRİM MEKANİZMALARI</a></li>
          <li class="menu-item sub-menu"><a href="#">EVRİMİN İŞLEYİŞİ</a></li>
          <li class="menu-item sub-menu"><a href="#">MATEMATİKSEL EVRİM</a></li>
          <li class="menu-item sub-menu"><a href="#">TÜRLEŞME</a></li>
          <li class="menu-item sub-menu"><a href="#">CANLILARIN EVRİMİ</a></li>
          <li class="menu-item sub-menu"><a href="#">İNSANLARIN EVRİMİ</a></li>
          <li class="menu-item sub-menu"><a href="#">EVRİMSEL PSİKOLOJİ</a></li>
          <li class="menu-item sub-menu"><a href="#">EVRİM TARİHİ & EVRİMSEL SÜREÇ</a></li>
          <li class="menu-item sub-menu"><a href="#">EVRİM KURAMI'IN EVRİMİ</a></li>
          <li class="menu-item sub-menu"><a href="#">EVRİMİN DİĞER BİLİMLERLE ETKİLEŞİMİ</a></li>
          <li class="menu-item sub-menu"><a href="#">OYUN TEORİSİ</a></li>
        </ul>
      </li>
      <li class="menu-item menu-item-biyoloji"><a href="#">BİYOLOJİ</a>
        <ul class="dropdown">
          <li class="menu-item sub-menu"><a href="#">DUYULAR VE ALGILARIMIZ</a></li>
          <li class="menu-item sub-menu"><a href="#">MOLEKÜLER BİYOLOJİ VE BEYİN</a></li>
          <li class="menu-item sub-menu"><a href="#">SİSTEMLERİN EVRİMİ</a></li>
          <li class="menu-item sub-menu"><a href="#">SİNİR BİLİM VE BEYİN</a></li>
        </ul>
      </li>
      <li class="menu-item menu-item-fizik"><a href="#">FİZİK</a>
        <ul class="dropdown">
          <li class="menu-item sub-menu"><a href="#">TEMEL FİZİK & KUANTUM FİZİK</a></li>
          <li class="menu-item sub-menu"><a href="#">ASTRONOMİ</a></li>
          <li class="menu-item sub-menu"><a href="#">ASTROFİZİK VE KOZMOLOJİ</a></li>
        </ul>
      </li>
      <li class="menu-item menu-item-kimya"><a href="#">KİMYA</a>
        <ul class="dropdown">
          <li class="menu-item sub-menu"><a href="#">GENEL KİMYA</a></li>
        </ul>
      </li>
      <li class="menu-item menu-item-yapayzeka"><a href="#">YAPAY ZEKA</a></li>
    </ul>
  </nav>
  
</div>


