<div id="user">
  <div class="container">
    <div id="user-info">
      <div class="user-profile">
        <div class="user-profile-image">
          <img src="./../../assets/image/author-profile.jpeg">
        </div>
        <div class="user-profile-name">
          <h1>Çağrı Mert Bakırcı</h1>
        </div>
      </div>
      <div class="user-informations">
        <p>Cinsiyet: </p><span>Erkek</span>
        <p>Cinsel Kimlik: </p><span>Erkek</span>
        <p>Cinsel Yönelim: </p><span>Düzcinsel (Heteroseksüel)</span>
        <p>İlişki Durumu: </p><span>Nişanlı</span>
        <p>Eğitim: </p><span>Doktora</span>
        <p>Meslek: </p><span>Evrimsel Robotikçi</span>
      </div>
    </div>
    <div id="user-activity">
      <div id="activity-menu-tab">
        <ul>
          <li>Makale</li>
          <li>Katkılar</li>
          <li>Fotoğraf</li>
          <li>Video</li>
          <li>Soru-Cevap</li>
          <li>Sözlük</li>
        </ul>
      </div>

      <div class="user-activity-stream">
        <p>Articles</p>
      </div>
    </div>
  </div>
</div>