/* ==========================================================================
   Color Variables
   ========================================================================== */
   $icerik-menu-bg:              #f2cd60;
   $evrim-menu-bg:               #e63b2e;
   $biyoloji-menu-bg:            #84dd63;
   $fizik-menu-bg:               #edaf3e;
   $kimya-menu-bg:               #7fbeeb;
   $yapayzeka-menu-bg:           #336699;

   $bg-grey:                     #fcfcfc;
   $light-grey:                  #888888;
   $mid-grey:                    #363636;           
   $dark-grey:                   #242529;
   $evrimagaci-red:              #e63b2e;

   $border-grey:                 #d3d3d3;