/* ==========================================================================
   Global
   ========================================================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Saira Condensed', sans-serif, Arial;
    padding: 0;
    margin: 0;
    background: #F7F3F4;
}

.container {
    width: 92%;
    margin: 0 auto;
}



/* ==========================================================================
   Color Variables
   ========================================================================== */
   $icerik-menu-bg: #f2cd60;
   $evrim-menu-bg: #e63b2e;
   $biyoloji-menu-bg: #84dd63;
   $fizik-menu-bg: #edaf3e;
   $kimya-menu-bg: #7fbeeb;
   $yapayzeka-menu-bg: #336699;